.main
    font-family: 'Ubuntu'
    &-title
        text-align: center
        color: #1c5174
        &-navigation li
            list-style-type: none
            margin-top: 5px
        &-navigation a
            text-decoration: none
            color: #41332c
            font-size: 20px
            &:hover
                color: #f1e2e2
        &-flex
            display: flex
            justify-content: space-between
            &-distribution
                margin-top: 10px
                color: #41332c
                &-speciality
                    font-size: 20px
                    margin-top: 5px
                    margin-bottom: 0
                    &-skill
                        color: #41332c
                        &-core
                            margin-top: 10px
                            font-size: 20px
                            &-select
                                font-size: 18px


            
            
            
            