// Kindle Fire HD 8.9" (800 x 1280)
@media (max-width: 800px)
    .portfolio-title-grid
        grid-template-columns: 1fr 1fr
        & div
            margin-bottom: 20px
    .main-div
        padding-top: 75px
    .header
        margin: 0 auto
        width: 30%