// Kindle Fire HD 8.9" (800 x 1280)
@media (max-width: 800px)
    .portfolio-title-grid
        grid-template-columns: 1fr 1fr
        & div
            margin-bottom: 20px
    .main-div
        padding-top: 75px
    .header
        margin: 0 auto
        width: 30%
// Galaxy Nexus 7 (603 x 966)
@media (max-width: 603px)
    .header
        width: 40%
    .container
        width: 100%
    ul
        padding-inline-start: 25px
        padding-right: 10px
// Galaxy Note 4 (480 x 853)
@media (max-width: 480px)
    .portfolio-title-grid 
        grid-template-columns: 1fr
    .header
        width: 50%